<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books Repository</title>
</head>
<body>

    <h2>Insert New<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="Author" name="author">
	<input type="text" placeholder="Genre" name="genre">
        <button type="submit">Submit</button>
    </form> 

</body>
</html>
